#app {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
}

#books {
  flex: 5;
  height: 100vh;
}

#cart {
  flex: 2;
  height: 100vh;
}

.section-header {
  text-align: center;
}

.buttons {
  height: 1em;
  width: 1em;
}

.modify-display-container {
  display: flex;
  flex-direction: row;
}

.search-bar {
  flex: 4;
}

.sort-select {
  flex: 1;
}